node_modules/
.next/
out/
dist/
.firebase/
*.pack
*.zip
*.log
*.tmp
*.cache


# Ignore large build and dependency folders
.firebase/
node_modules/
*.zip
*.pack

# Environment and local config
.env
.env.local
.env.production
.env.developme
node_modules/
build/
*.mp4
