@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%; /* #F7F7F7 */
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 145 63% 42%; /* #27AE60 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 222 84% 5%;
    --muted: 0 0% 92%;
    --muted-foreground: 222 84% 35%;
    --accent: 36 91% 51%; /* #F39C12 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 88%;
    --input: 0 0% 92%;
    --ring: 145 63% 42%;
    --chart-1: 145 70% 40%;
    --chart-2: 36 90% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --primary-glow: 145 73% 52%;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 0 0% 97%;
    --card: 222 84% 8%;
    --card-foreground: 0 0% 97%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 97%;
    --primary: 145 63% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 84% 12%;
    --secondary-foreground: 0 0% 97%;
    --muted: 222 84% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 36 91% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 222 84% 12%;
    --input: 222 84% 12%;
    --ring: 145 63% 47%;
    --chart-1: 145 70% 50%;
    --chart-2: 36 90% 55%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    
    --primary-glow: 145 73% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
